services:
  pg:
    image: postgres:18
    environment:
      POSTGRES_DB: ${DB__NAME}
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgresdata:/var/lib/postgresql/data/pgdata
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${DB__NAME} -U $${DB__USER}" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    tty: true
    stdin_open: true

  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data

  app:
    build:
      dockerfile: app/Dockerfile
      context: .
    command:
      - gunicorn
      - main:app
      - --workers
      - "2"
      - --worker-class
      - uvicorn.workers.UvicornWorker
      - --bind
      - 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      pg:
        condition: service_healthy

volumes:
  postgresdata:
  redisdata:
